@model MobilePhoneWebApp.BusinessLogic.Dtos.CustomerDto;
@using MobilePhoneWebApp.BusinessLogic.Services.Interfaces;
@inject ICustomerService customerService;

<!DOCTYPE html>
<html>
<head>

    <title>Create</title>
</head>
<body>
   
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-5 mb-3">
                <strong>Edit Customer</strong>
            </h1>
        </div>
    </div>

    <div class="main row justify-content-center">
        <form asp-action="Edit" method="post" class="row justify-content-center mb-4" autocomplete="off">
            <label for="Edit" class="form-label mt-4">Select CPU</label>
            <div class="col-7 mb-3">
                <select class="form-select" asp-for="Id">
                    <option value="" >Select Customer</option>
                    @foreach (var customer in await customerService.GetAllAsync())
                    {
                        <option value="@customer.Id">@customer.LastName</option>
                    }
                </select>
            </div>
            <div class="col-7 mb-3">
                <label for="firstName"> First Name</label>
                <input class="form-control" type="text" asp-for="FirstName" placeholder="Enter First Name" />
            </div>
            <div class="col-7 mb-3">
                <label for="lastName" class="form-label mt-4"> Last Name</label>
                    <input class="form-control" type="text" asp-for="LastName" placeholder="Enter Last Name" />
                </div>
                <div class="col-7 mb-3">
                    <label for="email"> Email</label>
                    <input class="form-control" type="text" asp-for="Email" placeholder="Enter Email" />
                </div>
                <div class="col-7 mb-3">
                    <label for=" PhoneNumber">  PhoneNumber</label>
                    <input class="form-control" type="text" asp-for=" PhoneNumber" placeholder="Enter the Phone Number" />
                </div>
            
            <div class="col-7">
                <button type="submit" class="btn btn-primary">Delete</button>
           </div>
        </form>
   </div>
</body>
</html>