@model MobilePhoneWebApp.BusinessLogic.Dtos.StoreDto;
@using MobilePhoneWebApp.BusinessLogic.Services.Interfaces;
@inject IStoreService storeService;
@inject ICityService cityService;

<!DOCTYPE html>
<html>
<head>

    <title>Create</title>
</head>
<body>
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-5 mb-3">
                <strong>Edit Store</strong>
            </h1>
        </div>
    </div>

    <div class="main row justify-content-center">
        <form asp-action="Edit" method="post" class="row justify-content-center mb-4" autocomplete="off">

            <div class="col-7 mb-3">
                <select asp-for="Id">
                    <option value="">Select Store</option>
                    @foreach (var store in await storeService.GetAllAsync())
                    {
                        <option value="@store.Id">@store.Name</option>
                    }
                </select>
            </div>
            <div class="col-7 mb-3">
                <label for="Name">Name</label>
                <input class="form-control" type="text" asp-for="Name" placeholder="Enter Store" />
            </div>
            <div class="col-7 mb-3">
                <label for="Address">Addres Store</label>
                <input class="form-control" type="text" asp-for="Address" placeholder="Enter Address Store" />
            </div>
            <div class="col-7 mb-3">
                <label for="PostalCode">Postal Code Store</label>
                <input class="form-control" type="text" asp-for="PostalCode" placeholder="Enter Postal Code Store" />
            </div>
            <div class="col-7 mb-3">
                <label for="PhoneNuber">Number Phone Store</label>
                <input class="form-control" type="text" asp-for="PostalCode" placeholder="Enter Number Phone Store" />
            </div>
            <div class="col-7 mb-3">
                <label for="City" class="form-label mt-4">Select City</label>
                <select class="form-select" asp-for="CityId">
                    @foreach (var city in await cityService.GetAllAsync())
                    {
                        <option value="@city.Id">@city.Name</option>
                    }
                </select>
            </div>
            <div class="col-7">
                <button type="submit" class="btn btn-primary">Delete</button>
            </div>
        </form>
    </div>
</body>
</html>